		* {
			margin: 0;
			padding: 0;

		}
		body {
			font-family: helvetica, arial;
			padding-top: 40px;
		}
		h1 {
			background-color: black;
			color: white;
			height: 40px;
			font-size: 24px;
			font-weight: normal;
			left: 0;
			line-height: 40px;
			position: fixed;
			text-align: center;
			top: 0;
			width: 100%;
			z-index: 1;
		}
		h1 a {
			border-bottom: 1px solid white;
			color: white;
			display: inline-block;
			line-height: 30px;
			text-decoration: none;
		}
		.photo {
			background-attachment: fixed;
			background-position: 37% 0;
			background-repeat: no-repeat;
			height: 650px;
			
			position: relative;
		}
		.photo span {
			bottom: 0;
			color: white;
			display: block;
			left: 50%;
			top: 50%;
			margin-left: -640px;
			font-size: 20px;
			padding: 10px;
			position: absolute;
			text-shadow: 0 2px 0 red , 0 0 10px black;
			width: 700px;
		}
/*****************************
  NAVBAR
******************************/

.navbar {
  border: 0;
  margin-bottom: 0;
}

.navbar-brand {
  height: 80px;
  padding: 10px;
}

.navbar-brand img {
  display: inline-block;
  width: 120px;
  margin-top: 3px;
}

.navbar-nav li a {
  color: #fff !important;
  font-size: 1.25em;
  line-height: 50px;
  -o-transition: .1s ease-in-out;
  -ms-transition: .1s ease-in-out;
  -moz-transition: .1s ease-in-out;
  -webkit-transition: .1s ease-in-out;
  transition: .1s ease-in-out;
}

.navbar-nav li a:hover, .current-page {
  box-shadow: inset 0px 5px 0px 0px;
}
		
		.summer {
			background-image: url(../resources/bannerpic1.jpg);
		}
		.autumn {
			background-image: url(../resources/swim.jpg);
		}
		.spring {
			background-image: url(../resources/bannerpic.jpg);
		}
		.cheering {
			background-image: url(../resources/cheering.jpg);
		}