/************
    GENERAL
*************/

/*@font-face {
    font-family: 'din-regular'; a name to be used later
    src: url('/fonts/din-regular.ttf'); /*URL to font*/

h1 {
  font-size: 6.5em;
  font-weight: 350;
}
/*
body {
  font-family: din-regular;
}*/

/************
    Font
*************/

.red-font {
  color: #be0000;
}

/************
    PARALLAX
*************/
.divider {
    height:50px;
}

section {
    height:650px;
    padding-top:5px;
    padding-bottom:50px;
    overflow:auto;
}

.bg-1 {
	background: url('/img/rutgersTriathlonBanner.jpg') no-repeat center center fixed;
    color:#fff;
    background-size:cover;
}  

#footer {
    height: 60px;
    background-color:#585858;
    margin-top:50px;
    padding-top:20px;
    padding-bottom:20px;
}

#footer a {
  color:#efefef;
}

#bannerText {
    color: #9E9E9E;
}

#bannerSubText {
    color: #607D8B;
}

/************
    NAVBAR
*************/

.navbar {
  border: 0;
  margin-bottom: 0;
}

.navbar-brand {
  height: 80px;
  padding: 10px;
}

.navbar-brand img {
  display: inline-block;
  margin-bottom: 3px;
}

.navbar-nav li a {
  color: #fff !important;
  font-size: 1.25em;
  line-height: 50px;
  -o-transition: .1s ease-in-out;
  -ms-transition: .1s ease-in-out;
  -moz-transition: .1s ease-in-out;
  -webkit-transition: .1s ease-in-out;
  transition: .1s ease-in-out;
}

.navbar-nav > li{
  padding-left:30px;
  padding-right:15px;
}

.navbar-nav {
    padding-right: 20px;
}

.navbar-nav li a:hover, .current-page {
  box-shadow: inset 0px 5px 0px 0px;
}