/************
    GENERAL
*************/

h1 {
  font-size: 6.5em;
  font-weight: 350;
}

/************
    Font
*************/

.red-font {
  color: #be0000;
}

/************
    Images
*************/

.member-image{
  max-width: 280px;
  max-height: 280px;
  padding-left: 10px;
  padding-right: 8px;
}

/************
    PARALLAX
*************/
.divider {
    height:50px;
}

section {
    height:650px;
    padding-top:5px;
    padding-bottom:50px;
    overflow:auto;
}

.bg-1 {
	background: url('/img/cover.jpg') no-repeat center center fixed;
    color:#fff;
    background-size:cover;
}  

#footer {
    height: 60px;
    background-color:#585858;
    margin-top:50px;
    padding-top:20px;
    padding-bottom:20px;
}

#footer a {
  color:#efefef;
}

#bannerText {
    color: #9E9E9E;
}

#bannerSubText {
    color: #607D8B;
}

/************
    MATERIAL DESIGN
*************/

    body {
      background-color: #f9f9f9;
      font-family: RobotoDraft, 'Helvetica Neue', Helvetica, Arial;
      -webkit-user-select: none;
      -moz-user-select: none;
      -ms-user-select: none;
      user-select: none;
      -webkit-tap-highlight-color: rgba(0,0,0,0);
      -webkit-touch-callout: none;
    }

    .card, .dialog {
      position: relative;
      display: inline-block;
      width: 90%;
      height: 440px;
      vertical-align: top;
      background-color: #fff;
      box-shadow: 0 12px 15px 0 rgba(0, 0, 0, 0.24);
    }
    
    .dialog {
      box-sizing: border-box;
      padding: 16px;
    }
    
    .dialog > .content {
      height: 270px;
      font-size: 0.9em;
    }
    
    .dialog > .content > .title {
      font-size: 1.5em;
    }
    
    .dialog > .button {
      width: 90px;
      float: right;
    }

    .center {
      text-align: center;
    }

    .top-buffer {
     margin-top:20px;
    }

/************
    NAVBAR
*************/

.navbar {
  border: 0;
  margin-bottom: 0;
}

.navbar-brand {
  height: 80px;
  padding: 10px;
}

.navbar-brand img {
  display: inline-block;
  margin-bottom: 3px;
}

.navbar-nav li a {
  color: #fff !important;
  font-size: 1.25em;
  line-height: 50px;
  -o-transition: .1s ease-in-out;
  -ms-transition: .1s ease-in-out;
  -moz-transition: .1s ease-in-out;
  -webkit-transition: .1s ease-in-out;
  transition: .1s ease-in-out;
}

.navbar-nav > li{
  padding-left:30px;
  padding-right:15px;
}

.navbar-nav {
    padding-right: 20px;
}

.navbar-nav li a:hover, .current-page {
  box-shadow: inset 0px 5px 0px 0px;
}