/************
    GENERAL
*************/

h1 {
  font-size: 6.5em;
  font-weight: 350;
}

/************
    Font
*************/

.red-font {
  color: #be0000;
}

/************
    MEMBERS
*************/

.member-class{
  padding-bottom: 20px;
}

.member-title{
  color: #9E9E9E;
}

.member-image{
  max-width: 280px;
  max-height: 280px;
  padding-left: 8px;
  padding-right: 8px;
  float:left;
}

/************
  CAROUSEL
************/
.carousel{
    margin-top: 5px;
}
.carousel .item img{
    margin: 0 auto;
    height: auto;
    width: 1000px;
}

/************
    PARALLAX
*************/
.divider {
    height:50px;
}

section {
    padding-top:5px;
    padding-bottom:50px;
    overflow:auto;
}

.bg-1 {
	  background-color: #282426;
    color:#fff;
    background-size:cover;
}

#footer {
    height: 50px;
    background-color:#cc0033;
    margin-top:50px;
    padding-top:0px;
    padding-bottom:0px;
}

.copyright
{
    float: left;
    margin-top:15px;
    margin-bottom:15px;
    margin-left:10px;
    color:#fff;
}

.social
{
    float: right;
    margin: 0px;
}

#bannerText {
    color: #9E9E9E;
}

#bannerSubText {
    color: #607D8B;
}

/************
    MATERIAL DESIGN
*************/

    body {
      background-color: #f9f9f9;
      font-family: RobotoDraft, 'Helvetica Neue', Helvetica, Arial;

      -webkit-tap-highlight-color: rgba(0,0,0,0);
      -webkit-touch-callout: none;
    }

    .card, .dialog {
      position: relative;
      display: inline-block;
      width: 90%;
      height: 440px;
      vertical-align: top;
      background-color: #fff;
      box-shadow: 0 12px 15px 0 rgba(0, 0, 0, 0.24);
    }

    .dialog {
      box-sizing: border-box;
      padding: 16px;
    }

    .dialog > .content {
      height: 270px;
      font-size: 0.9em;
    }

    .dialog > .content > .title {
      font-size: 1.5em;
    }

    .dialog > .button {
      width: 90px;
      float: right;
    }

    .center {
      text-align: center;
    }

    .top-buffer {
     margin-top:20px;
    }

/************
    NAVBAR
*************/

.navbar {
  border: 0;
  margin-bottom: 0;
}

.navbar-brand {
  height: 80px;
  padding: 10px;
}

.navbar-brand img {
  display: inline-block;
  margin-bottom: 3px;
}

.navbar-nav li a {
  color: #fff !important;
  font-size: 1.25em;
  line-height: 50px;
  -o-transition: .1s ease-in-out;
  -ms-transition: .1s ease-in-out;
  -moz-transition: .1s ease-in-out;
  -webkit-transition: .1s ease-in-out;
  transition: .1s ease-in-out;
}

.dropdown-menu>li>a:hover
{
  background-color:#cc0033;
  background-image:none;
}

.navbar-nav > li{
  padding-left:30px;
  padding-right:15px;
}

.navbar-nav {
    padding-right: 20px;
}

.navbar-nav li a:hover, .current-page {
  box-shadow: inset 0px 5px 0px 0px;
}

/***********
Gallery Presets
***********/

.gallery {
  padding-left: 15%;
  padding-right: 15%;
}

.gallery > h1 {
  padding-top: 5%;
  padding-bottom: 7%;
  text-align: center;
  font-size: 500%;
  border-bottom: 8px solid #cc0033;
  border-top: 4px solid #cc0033;
}

/***********
About page
***********/

.aboutcontent
{
  margin-left: 20%;
  margin-right: 20%;
}

.aboutcontent h1
{
  font-size:60px;
  border-bottom: 2px solid #cc0033;
}

.aboutcontent p
{
    font-size:20px;
}

.aboutcontent .imgwrap
{
  position:relative;
}

.aboutcontent img
{
  width:100%;
  position:relative;
}

.aboutcontent .description
{
    position:absolute; /* absolute position (so we can position it where we want)*/
    font-size:15px;
    color:black;
    opacity:0.8; /* transparency */
    filter:alpha(opacity=60); /* IE transparency */
    background: white;
    bottom:0px;
    width:100%;
}
.aboutcontent .description_content
{
    padding:10px;
    margin:0px;
    text-align:center;
}

/*
Officer Page
*/

.officercontent
{
  margin-left:20%;
  margin-right:20%;
  overflow:auto;
}

.officercontent h1
{
  font-size:60px;
  border-bottom: 2px solid #cc0033;
}

.officercontent .panel-heading p
{
    font-size:25px;
    text-align:center;
}

.officercontent p
{
  font-size:20px;
}

.officercontent .panel-body p
{
  font-size:14px;
}

.officercontent .imgwrap
{
  position:relative;
}

.officercontent img
{
  width:100%;
  position:relative;
}

.officercontent .description
{
    position:absolute; /* absolute position (so we can position it where we want)*/
    font-size:15px;
    color:black;
    opacity:0.8; /* transparency */
    filter:alpha(opacity=60); /* IE transparency */
    background: white;
    bottom:0px;
    width:100%;
}
.officercontent .description_content
{
    padding:10px;
    margin:0px;
    text-align:center;
}

.officercontent .col-md-6
{
  padding:0px;
  overflow:auto;
}

/*.officercontent .panel
{
  height:650px;
}*/

.officercontent .right
{
  margin-left:5px;
}

.officercontent .left
{
  margin-right:5px;
}
/*
Join Page
*/

.joincontent
{
  margin-left: 20%;
  margin-right: 20%;
}

.joincontent p
{
    font-size:20px;
}

.joincontent h1
{
  font-size:60px;
  border-bottom: 2px solid #cc0033;
}

.joincontent .imgwrap
{
  position:relative;
}

.joincontent img
{
  width:100%;
  position:relative;
}

.joincontent .description
{
    position:absolute; /* absolute position (so we can position it where we want)*/
    font-size:15px;
    color:black;
    opacity:0.8; /* transparency */
    filter:alpha(opacity=60); /* IE transparency */
    background: white;
    bottom:0px;
    width:100%;
}
.joincontent .description_content
{
    padding:10px;
    margin:0px;
    text-align:center;
}

/*Race Content*/

.racecontent
{
  margin-left: 20%;
  margin-right: 20%;
}

.racecontent h1
{
  font-size:60px;
  border-bottom: 2px solid #cc0033;
}

.racecontent h2
{
  font-size:40px;
  border-bottom: 2px solid #cc0033;
}

.racecontent h3
{
  font-size:25px;
}

.racecontent p
{
    font-size:20px;
}

.racecontent .imgwrap
{
  position:relative;
}

.racecontent img {
  width:100%;
  position:relative;
}

.racecontent ul {
  font-family: RobotoDraft, 'Helvetica Neue', Helvetica, Arial;
  list-style-position: inside;
  font-size: 18px;
  float: none;
  position: sticky;
  -webkit-tap-highlight-color: rgba(0,0,0,0);
  -webkit-touch-callout: none;
}

.racecontent .description
{
    position:absolute; /* absolute position (so we can position it where we want)*/
    font-size:15px;
    color:black;
    opacity:0.8; /* transparency */
    filter:alpha(opacity=60); /* IE transparency */
    background: white;
    bottom:0px;
    width:100%;
}
.racecontent .description_content
{
    padding:10px;
    margin:0px;
    text-align:center;
}

.quickinfo
{
  font-size:30px;
  border-bottom: 2px solid #cc0033;
}

.racecontent .quickinfo
{
  font-size:25px;
}

/*
Sponsor Content
*/

.sponsorcontent
{
  margin-left: 20%;
  margin-right: 20%;
}

.sponsorcontent p
{
    font-size:20px;
}

.sponsorcontent h1
{
  font-size:60px;
  border-bottom: 2px solid #cc0033;
}

.sponsorcontent .imgwrap
{
  position:relative;
}

.sponsorcontent img
{
  width:100%;
  position:relative;
}

.sponsorcontent .description
{
    position:absolute; /* absolute position (so we can position it where we want)*/
    font-size:15px;
    color:black;
    opacity:0.8; /* transparency */
    filter:alpha(opacity=60); /* IE transparency */
    background: white;
    bottom:0px;
    width:100%;
}
.sponsorcontent .description_content
{
    padding:10px;
    margin:0px;
    text-align:center;
}


.panel-body
{
  display: flex;
  align-items:center;
  justify-content:center;
}

.panel-body img
{
  max-width:100%
}

.newsAndWidg h1
{
  font-size:60px;
  border-bottom:2px solid #cc0033;
}

.newsAndWidg p
{
  font-size:25px;
}

.imgwrapper img
{
  margin-left:10%;
  margin-right:10%;
  position: relative;
}

@media(max-width:768px)
{
  .active > a
  {
    border:2px solid #cc0033
  }

  .li > a
  {
    border:2px solid white
  }

  .navbar
  {
    border-bottom:1px solid #cc0033;
    border-radius:0px;
  }

  .joincontent
  {
    margin-left:5%;
    margin-right:5%;
  }
  .aboutcontent
  {
    margin-left:5%;
    margin-right:5%;
  }
}
