<div class="container-fluid top-buffer" id="aboutContainer">
	<div class ="aboutcontent">
  <h1> About Us</h1>
	<p>Founded in 2010, Rutgers Triathlon is a club sports team of Rutgers University centered on the New Brunswick campus. </p>
	</br>
	<p>Our goal is to create a close-knit group of friends who strive to compete in Triathlon, while pursuing their degree at RU.
		We are competitive in the Northeast Collegiate Triathlon Conference, and have raced at Collegiate Nationals as a team since 2014.
	</p></br>
	<p>Feel free to contact us at any time via email: <a href="mailto:rutgerstriteam@gmail.com"> rutgerstriteam@gmail.com</a></p>

  </br>
	<div class="panel panel-info">
  		<div class="panel-heading">General Club Information</div>
  		<div class="panel-body">
    				<img class="media-object" src="img/aboutUsCanon.jpg"/>
  		</div>
	</div>
	<div class="panel panel-info">
  		<div class="panel-heading">Practice Makes Perfect!</div>
  		<div class="panel-body">
    				<img class="media-object" src="img/aboutUsSwimming.jpg"/>
  		</div>
	</div>

	<div class="panel panel-info">
  		<div class="panel-heading">Extracurricular</div>
  		<div class="panel-body">
    				<img class="media-object" src="img/aboutUsSnowboarding.jpg" width=600px/>
  		</div>
	</div>

</div>
</div>
