<div class="container-fluid top-buffer" id="aboutContainer">

	<!-- Coaching Panel -->
	<div class="panel panel-info">
  		<div class="panel-heading">Coach Sean Reilly</div>
  		<div class="panel-body">
    		<div class="media">
    			<div class="media-left">
    				<img class="media-object member-image" src="/img/aboutUsCoach.jpg"/>
    			</div>
    		</div>
  		</div>
	</div>

	<!-- Biking -->
	<div class="panel panel-info">
  		<div class="panel-heading">General Club Information</div>
  		<div class="panel-body">
    		<div class="media">
    			<div class="media-left">
    				<img class="media-object member-image" src="/img/aboutUsCanon.jpg"/>
    			</div>
    		</div>
  		</div>
	</div>

	<!-- General Practice -->
	<div class="panel panel-info">
  		<div class="panel-heading">Practice Makes Perfect!</div>
  		<div class="panel-body">
    		<div class="media">
    			<div class="media-left">
    				<img class="media-object member-image" src="/img/aboutUsSwimming.jpg"/>
    			</div>
    		</div>
  		</div>
	</div>

	<!-- ExtraC -->
	<div class="panel panel-info">
  		<div class="panel-heading">Extracurricular</div>
  		<div class="panel-body">
    		<div class="media">
    			<div class="media-left">
    				<img class="media-object member-image" src="/img/aboutUsSnowboarding.jpg"/>
    			</div>
    		</div>
  		</div>
	</div>
</div>