<div class="container-fluid top-buffer" id="aboutContainer">
<div class ="aboutcontent">
  <h1>About Us</h1>
	<div class ="imgwrap">
		<img src ="img/AboutUsPoolNoodles.png">
		<div class='description'>
		<!-- description content -->
			<p class='description_content'>End of Semester Fun at the Pool!</p>
		<!-- end description content -->
		</div>
	</div>

	</br>
	</br>
	<p>Welcome to the Rutgers Triathlon Team, we are a growing club sport that is focused on building a close knit group of friends. Our team is all about having fun and getting members as much access to the triathlon and endurance sport community that we can.</p></br>
	<p>Founded in 2010, Rutgers Triathlon is a club sports team of Rutgers University centered on the New Brunswick campus. </p>
	</br>
	<p>Our goal is to create a close-knit group of friends who strive to compete in Triathlon, while pursuing their degree at RU.
		Our team proudly competes in the <a href ="http://www.northeastctc.com/">Northeast Collegiate Triathlon Conference</a>, and we have sent members to race at the USAT Collegiate National Championships since 2014.
	</p></br>

	<p>Feel free to contact us at any time via email: <a href="mailto:rutgerstriteam@gmail.com"> rutgerstriteam@gmail.com</a></p>

	<p>Connect with us on social media!</br>
		<ul>
			<li><p><a href ="https://www.facebook.com/RutgersTriathlonTeam/">Facebook!</a></p></li>
			<li><p><a href="https://www.instagram.com/rutgerstriathlon/">Instagram!</a></p></li>
			<li><p><a href ="https://twitter.com/rutgerstriteam">Twitter!</a></p></li>
	</p>
  </br>
</div>
</div>
