<div id="footer">
    <p class="copyright">Rutgers Triathlon &copy 2016</p>
    <p class="social">
      <a href ="https://www.facebook.com/RutgersTriathlonTeam/">
        <img src="img/fb.png"style="width: 50px; padding: 5px 5px;">
      </a>

      <a href ="https://www.instagram.com/rutgerstriathlon/">
        <img src ="img/ig.png"style="width: 50px; padding: 5px 5px;">
      </a>

      <a href ="https://twitter.com/rutgerstriteam">
        <img src ="img/twit.png"style= "width:50px; padding: 5px 5px;">
      </a>
    </p>
    <div style="clear: both"></div>
</div>
