<div class="container">
  <hr>
  <div class="row">
    <div class="col-md-4">
      <div class="panel panel-default">
        <div class="panel-heading"><h3>Practice Schedule</h3></div>
        <div class="panel-body">
          <ul class="list-group" id="PracticeList"/>
        </div><!-- panelBody -->
      </div><!-- panel -->
    </div><!-- col -->
    <div class="col-md-4">
      <div class="panel panel-danger">
        <div class="panel-heading"><h3 class="center-text">Upcoming Races</h3></div>
        <div class="panel-body">
          <ul class="list-group" id="RaceList"/>
        </div><!-- panelBody -->
      </div><!-- panel -->
    </div><!-- col -->
    <div class="col-md-4">
      <div class="panel panel-default">
        <div class="panel-heading"><h3>Officers</h3></div>
        <div class="panel-body">
          <ul class="list-group" id="OfficerList"/>
        </div><!-- panelBody -->
      </div><!-- panel -->
    </div><!-- col -->
  </div><!--/row-->
  <hr>
</div><!--/container-->