<div class="container">
</br>
<div class ="newsAndWidg">
<div class ="row">
    <div class ="col-md-8">
      <h1>Recent Updates</h1>
      <p><b>November 3, 2016</b></p>
      <p>Welcome to the new and shiny update section of the Rutgers Triathlon Team! Here we'll be posting updates about our races and general announcements. This will soon be filled out with some news about this past fall 2016 season.</p>
    </div>
    <div class =col-md-4>
      <iframe height='454' width=100% frameborder='0' allowtransparency='true' scrolling='no' src='https://www.strava.com/clubs/RutgersTriathlon/latest-rides/7e71c1ac0f76b046c3f81fa3ff24e5cac143cdae?show_rides=true'>
      </iframe>
    </br></br>
      <iframe src="https://www.facebook.com/plugins/page.php?href=https%3A%2F%2Fwww.facebook.com%2FRutgersTriathlonTeam%2F&tabs=timeline&width=340&height=500&small_header=false&adapt_container_width=true&hide_cover=false&show_facepile=true&appId" width=100% height="400" style="border:none;overflow:hidden" scrolling="no" frameborder="0" allowTransparency="true"></iframe>
    </br></br>
      <a class="twitter-timeline" data-height="400" data-theme="light" data-link-color="#cc0033" href="https://twitter.com/RutgersTriTeam">Tweets by RutgersTriTeam</a> <script async src="https://platform.twitter.com/widgets.js" charset="utf-8"></script>
    </div>
  </div>
</div>
</div><!--/container-->
