	<div class="jumbotron">
		<h1 class="col-md-10 col-md-offset-2">How To Join : </h1>
		<ul>
			<li class="col-md-10 col-md-offset-3"><h2>1. Join our <a href="https://www.facebook.com/groups/274413140871/">Facebook page</a></h2>/li>
			<li class="col-md-10 col-md-offset-3"><h2>2. Come to <a href="http://rutgerstriathlon.com/index.html">Practice</a></h2></li>
		</ul>
		<h3 class="col-md-10 col-md-offset-3">Optional : Send us an <a href="rutgerstriteam@gmail.com">email</a> introducing yourself! Ask us questions that you may have!</h3>
	</div>