<div class="container-fluid top-buffer" id="joinContainer">
	<div class ="joincontent">
  <h1>How to Join</h1>
	<div class ="imgwrap">
		<img src ="img/RU_Nationals2015.jpg">
		<div class='description'>
		<!-- description content -->
			<p class='description_content'>Rutgers Triathlon at USAT Nationals 2015</p>
		<!-- end description content -->
		</div>
	</div>
</br></br>
	<p>Interested in joining the team? Great!
	</br></br>
	<p>First, here's a few things you get with team membership:</p>
	<ul>
		<li><p>Compete as an official member of the Rutgers Triathlon Team</p></li>
		<li><p>Organized workouts with dedicated training plans for all skill levels</p></li>
		<li><p>Discounts! Our sponsors generously give discounts for our members and some Race Fees and Travel Expenses are reduced.</p></li>
		<li><p>Fun! Even though we are competitive, we always try to keep it fun.</p></li>
	</ul>
  </br>
	<p>
	At the beginning of each semester we typically have a two week trial period where anyone can come to practice to checkout how the workouts go and how cool we are. Once the trial period is done, we ask you to pay dues and join our roster so that you will be an official member of the Rutgers Triathlon Team.
	</p>

	<p>Once you're ready to jump in, just follow these few short steps:</p>
	<ul>
		<li><p>First join our <a href="https://www.facebook.com/groups/274413140871/">Facebook page</a>! Once you request to join, an officer will approve it shortly and you'll be added to the group. The facebook group is the main form of contact used for the team. This is where we make announcements, time changes to workouts, etc.</p></li>
		<li><p>Pay dues! Dues are announced at the beginning of each semester at the first General Meeting. Cash or checks accepted. Please make checks out to Rutgers Triathlon Team</p></li>
		<li><p>Fill out the <a href="http://itms.rutgers.edu/ssps/form_g_input.html">G-Form!</a> This is a form that needs to be filled out by every team member and has some basic information required by Rutgers University.</p></li>
		<li><p>Finally, what you've been waiting for... Come to <a href="http://rutgerstriathlon.com/index.html">Practice!</a></h2></li>
	</ul></br>
	<p>Questions? Email us at : <a href="mailto:rutgerstriteam@gmail.com">  rutgerstriteam@gmail.com</a></p>

</div>
</div>
