<div class="container-fluid top-buffer" id="joinContainer">
<h2 class="col-md-10 col-md-offset-2">How To Join : </h2>
<ul>
	<li class="col-md-10 col-md-offset-2">1. Join our <a href="https://www.facebook.com/groups/274413140871/">Facebook page</a></li>
	<li class="col-md-10 col-md-offset-2">2. Come to <a href="http://rutgerstriathlon.com/index.html">Practice</a></li>
</ul>

<h4 class="col-md-10 col-md-offset-2">Optional : Send us an <a href="rutgerstriteam@gmail.com">email</a> introducing yourself! Ask us questions that you may have!</h4>
</div>