<nav class="navbar navbar-default">
  <!-- <div class="container-fluid"> -->
    <!-- Brand and toggle get grouped for better mobile display -->
    <div class="navbar-header">
      <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1">
        <span class="sr-only">Toggle navigation</span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
      </button>
      <a class="navbar-brand" href="index.html"><img src="https://scontent-lga.xx.fbcdn.net/hphotos-xpa1/v/t1.0-9/1551760_422214071242784_1529936983_n.png?oh=0bfc948e9f0bc438b1fcc6e1fc9efc6f&oe=558CFC62"></a>
    </div>

    <!-- Collect the nav links, forms, and other content for toggling -->
    <div class="collapse navbar-collapse navbar-inverse">
      <ul class="nav navbar-nav navbar-inverse navbar-right">
        <li class="active"><a href="#">Home<span class="sr-only">(current)</span></a></li>
        <li><a href="#">Join</a></li>
        <li><a href="#">Sponsors</a></li>
        <li><a href="#">Members</a></li>
        <li><a href="#">News</a></li>
        <li><a href="#">Contact</a></li>
      </ul>
    </div><!-- /.navbar-collapse -->
  <!-- </div>/.container-fluid -->
</nav>


<!--navbar-->
  <!-- <div class="navbar navbar-inverse navbar-fixed-top">
    <div class="navbar-inner">
      <div class="container">
        <ul class="nav">
          <li><a href="/index.html">Home</a></li>
          <li><a href="/join.html">Join</a></li>
          <li><a href="/sponsors.html">Sponsors</a></li>
          <li><a href="/members.html">Members</a></li>
          <li><a href="/news.html">News</a></li>
          <li><a href="/contact.html">Contact</a></li>
        </ul>
      </div>
    </div>
  </div>
</div> -->
