<div class="container-fluid top-buffer">
  <div class ="officercontent">

    <h1>Officers</h1>
    <div class ="imgwrap">
      <img src ="img/RU_MSUIndoorTri2016.jpg">
      <div class='description'>
      <!-- description content -->
        <p class='description_content'>Rutgers Triathlon Team competing at the MSU Indoor Triathlon</p>
      <!-- end description content -->
      </div>
    </div>

  </br></br>
    <div class ="col-md-6">
    <div class="panel panel-danger left">
        <div class="panel-heading"><img class="media-object" src="img/lizchang.png"/><p></br><b>Elizabeth (Liz) Chang</b></br>President</p></div>
    </div>
  </div>
  <div class ="col-md-6">
  <div class="panel panel-danger right">
      <div class="panel-heading"><img class="media-object" src="img/chelsiescarafile.png"/><p></br><b>Chelsie Scarafile</b></br>Treasurer / Fundraising</p></div>
  </div>
</div>
<div class ="col-md-12"></div>
<!--  <div class ="col-md-6">
    <div class="panel panel-danger right">
        <div class="panel-heading"><img class="media-object" src="img/OliviaGentilini.png"/><p></br><b>Olivia Gentilini</b></br>Treasurer</p></div>
        <div class="panel-body">

              <p>Hi! I'm Olivia a junior and the Treasurer for the Triathlon Team. This is my third year on the team and love every second of it, especially when we play sharks and minos instead of practicing. This coming year I'm hoping to get fast and strong enough to beat our prez Kyle at Nationals! Come out to practices and get fast with me!</p>
        </div>
    </div>
  </div>-->


    <div class ="col-md-6">
    <div class="panel panel-danger left">
        <div class="panel-heading"><img class="media-object" src="img/ProfilePic.png"/><p></br><b>Dennis Harsley Jr.</b></br>Practice Captain / Race Coordinator</p></div>
    </div>
    </div>
    <div class ="col-md-6">
    <div class="panel panel-danger right">
        <div class="panel-heading"><img class="media-object" src="img/colinchehanske.png"/><p></br><b>Colin Chehanske</b></br>Social Manager / Clothing Design</p></div>
    </div>
    </div>
    <div class ="col-md-12"></div>
    <div class ="col-md-6">
    <div class="panel panel-danger left">
        <div class="panel-heading"><img class="media-object" src="img/RaymondFullon.png"/><p></br><b>Raymond Fullon</b></br>Webmaster</p></div>
        <div class="panel-body">
              <p>Hello! I'm Raymond and I'm a Ph.D. student in the Materials Science & Engineering department. I first got into triathlon in Austin, Texas which has a thriving triathlon culture. After getting over the shock, I eventually got used to the demand of multisport training and have raced several triathlons so far. Once getting to Rutgers, I couldn't resist joining the Rutgers Triathlon Team and their welcoming and encouraging members!</p>
        </div>
    </div>
    </div>
    <div class ="col-md-6"></div>
  </div>
</div>
