<div class="container-fluid top-buffer" id="aboutContainer">
<div class ="racecontent">
  <h1>Practice Schedule</h1>
	<div class ="imgwrap">
		<img src ="img/RU_SwimPrac2016.jpg">
		<div class='description'>
		<!-- description content -->
			<p class='description_content'>Swim Practice!</p>
		<!-- end description content -->
		</div>
	</div>

	</br>
	</br>
<p>Be sure to check the facebook group for smaller group practices that aren't regularly scheduled.</p>
<h2>Fall 2018</h2></br>

<h3><b> Monday </b></h3>
  </br>
  <p>
    <b style="color: #cc0033;">What: </b> Swim </br>
    <b style="color: #cc0033;">When: </b> 8:30 PM </br>
    <b style="color: #cc0033;">Where: </b> Cook Douglass Recreation Center </br></br>
  </p>

<h3><b> Tuesday </b></h3>
  </br>
  <p>
    <b style="color: #cc0033;">What: </b> Run </br>
    <b style="color: #cc0033;">When: </b> 6:30 PM </br>
    <b style="color: #cc0033;">Where: </b> University Park, Busch Campus </br></br>
  </p>

<h3><b> Wednesday </b></h3>
  </br>
  <p>
    <b style="color: #cc0033;">What: </b> Swim </br>
    <b style="color: #cc0033;">When: </b> 8:30 PM </br>
    <b style="color: #cc0033;">Where: </b> Cook Douglass Recreation Center </br></br>
  </p>

<h3><b> Thursday </b></h3>
  </br>
  <p>
    <b style="color: #cc0033;">What: </b> Bike (Spin) </br>
    <b style="color: #cc0033;">When: </b> 8:30 PM </br>
    <b style="color: #cc0033;">Where: </b> Werblin Recreation Center, Busch Campus </br></br>
  </p>

<h3><b> Friday </b></h3>
  </br>
  <p>
    <b style="color: #cc0033;">What: </b> Run </br>
    <b style="color: #cc0033;">Where: </b> College Avenue Student Center </br>
    <b style="color: #cc0033;">When: </b> 10:00 AM </br>
  </p>

<h3><b> Saturday </b></h3>
  </br>
  <p>
    <b style="color: #cc0033;">What: </b> Bike (Group Ride) </br>
    <b style="color: #cc0033;">Where: </b> Pop's Bike Shop </br>
      <a href = "https://www.google.com/maps/place/Pops+Bike+Shop/@40.5677677,-74.5420989,17z/data=!3m1!4b1!4m5!3m4!1s0x89c3bf71282d7151:0x6accfc9b8075bd10!8m2!3d40.5677636!4d-74.5399102"> <ul style = "list-style-image: url('img/gpsPin.jpg');"> </a>
        <li>227 W Union Ave, Bound Brook, NJ 08805</li>
      </ul>
    <p><b style="color: #cc0033;">When: </b> 8:00 AM </p></br>
  </p>

  </div><!-- panelBody -->
</div>
