<div class="container-fluid top-buffer" id="aboutContainer">
<div class ="racecontent">
  <h1>Practice Schedule</h1>
	<div class ="imgwrap">
		<img src ="img/RU_SwimPrac2016.jpg">
		<div class='description'>
		<!-- description content -->
			<p class='description_content'>Swim Practice!</p>
		<!-- end description content -->
		</div>
	</div>

	</br>
	</br>
  <h2>Fall 2016</h2></br>
  <p>Be sure to check the facebook group for smaller group practices that aren't regularly scheduled.</p>

  <h3><b>Sunday</b></h3>
  <p>
    Bike ride or long runs organized on the Facebook group
  </p>

  <h3><b>Monday</b></h3>
  <p>8:30 - 10:00PM - Swim at Cook Recreation Center</br>
    <b>PC:</b> Kyle, Liz & Sarah
  </p>

  <h3><b>Tuesday</b></h3>
  <p>5:00 - 6:00PM - Run at University Park across from Werblin Recreation Center</br>
    <b>PC:</b> Nikki, Tina & Kyle
  </p>

  <h3><b>Wednesday</b></h3>
  <p>8:30 - 10:00PM - Swim at Cook Rec Center</br>
    <b>PC:</b> Jess & Casey
  </p>

  <h3><b>Thursday</b></h3>
  <p>RU Fit Class; check the Facebook group
  </p>

  <h3><b>Friday</b></h3>
  <p>8:00 - 9:00AM - Swim at Werblin Recreation Center</br>
    <b>PC:</b> Jess & Jason
  </p>

  <h3><b>Saturday</b></h3>
  <p>Early morning outdoor cycling ride</br>
    <b>PC:</b> Kyle & Tina
  </p>
</br>
  <p>
    <b>*PC</b> = Practice Captain
  </p>
  </div><!-- panelBody -->
</div>
</div>
