<div class="container-fluid top-buffer" id="aboutContainer">
<div class ="racecontent">
  <h1>Race Schedule</h1>
	<div class ="imgwrap">
		<img src ="img/RU_RaceSchedule.png">
		<div class='description'>
		<!-- description content -->
			<p class='description_content'>The Rutgers Triathlon Team at Westchester Triathlon 2016!</p>
		<!-- end description content -->
		</div>
	</div>

	</br>
	</br>
  <h2>Fall 2018</h2>
  <h3><a href ="https://www.northeastctc.com/races">NECTC</a> Schedule</b></h3></br>
  <p><b>West Point Sprint</b> - 08/25/18</p>
  <p><b>Lake George Olympic</b> - 09/01/18</p>
  <p><b>Lobsterman Olympic</b> - 09/08/18
  <p><b>Buzzard's Bay Sprint</b> - 09/16/18</p>
  <p><b>Westchester Olympic (NECTC Championship)</b> - 09/23/18</p>
</div>
</div>
