<div class="container-fluid top-buffer" id="aboutContainer">
<div class ="racecontent">
  <h1>Race Schedule</h1>
	<div class ="imgwrap">
		<img src ="img/RU_WestchesterTri17-2.png">
		<div class='description'>
		<!-- description content -->
			<p class='description_content'>The Rutgers Triathlon Team right before swimming in the Long Island sound at Westchester Triathlon 2017!</p>
		<!-- end description content -->
		</div>
	</div>

	</br>
	</br>
  <h2>This page is still under construction</h2></br>
  </br>
</div>
</div>
