<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <title>{{ page.title }} - Rutgers Triathlon Team</title>

    <link href="/css/bootstrap.css" rel="stylesheet">
    <link href="/css/bootstrap-responsive.css" rel="stylesheet">
    <link href="/css/main.css" rel="stylesheet">

    <!-- HTML5 shim, for IE6-8 support of HTML5 elements -->
    <!--[if lt IE 9]>
      <script src="js/html5shiv.js"></script>
    <![endif]-->
    <link rel="shortcut icon" href="../assets/ico/favicon.png">
  </head>
  <body>
    <section class="bg-1">
      <h1 >Rutgers Triathlon Team</h1>
    </section>

    <div class="container">
      <hr>
      <div class="row">
        <div class="col-md-4">
          <div class="panel panel-default">
            <div class="panel-heading"><h3>Practice Schedule</h3></div>
            <div class="panel-body">List of practices and location of practices</div>
            <div class="panel-footer text-right"><a href="#" class="btn btn-default">More</a></div>
          </div>
        </div>
        <div class="col-md-4">
          <div class="panel panel-default">
            <div class="panel-heading"><h3>Upcoming Races</h3></div>
            <div class="panel-body">List of upcoming races</div>
            <div class="panel-footer text-right"><a href="#" class="btn btn-default">More</a></div>
          </div>
        </div>
          <div class="col-md-4">
            <div class="panel panel-default">
              <div class="panel-heading"><h3>Members?</h3></div>
              <div class="panel-body"></div>
              <div class="panel-footer text-right"><a href="#" class="btn btn-default">More</a></div>
            </div>
          </div>
      </div><!--/row-->
      <hr>
    </div><!--/container-->
  <div class="divider"/>
  </body>
</html>
