<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <title>{{ page.title }} - Rutgers Triathlon Team</title>

    <link href="/css/bootstrap.css" rel="stylesheet">
    <link href="/css/bootstrap-responsive.css" rel="stylesheet">
    <link href="/css/main.css" rel="stylesheet">

    <!-- HTML5 shim, for IE6-8 support of HTML5 elements -->
    <!--[if lt IE 9]>
      <script src="js/html5shiv.js"></script>
    <![endif]-->
    <link rel="shortcut icon" href="../assets/ico/favicon.png">
  </head>
  <body>
    <div class="jumbotron">
      <div class=".container">
        <section class="bg-1 text-center">
          <h1>Rutgers Triathlon Team</h1>
          <p class="lead">information</p>
        </section>
      </div>
    </div>
  </body>
</html>
